<div class="container-fluid">
  <nav class="navbar navbar-default navbar-static-top header" >
    <div class="navbar-header pull-left">
        <img class="pull-left" src="assets/images/818c1b6c-dfd0-4171-b319-09fd03f01c3d.png">
        <a class="header-text navbar-brand" routerLink="" routerLinkActive="active">G4M3L1BR4RY - A list of fantastic games</a>
    </div>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <footer class="col-md-12 col-lg-12 col-xs-12 col-sm-12 navbar-default">
    <a routerLink="/impressum" routerLinkActive="active" class="footer-text navbar-text pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i> Impressum</a>
  </footer>
</div>


