<div class="content">
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container pull-left">
      <div class="navbar-header">
        <img src="assets/images/818c1b6c-dfd0-4171-b319-09fd03f01c3d.png">
        <a style="padding-left: 30px;" class="navbar-brand" routerLink="" routerLinkActive="active">G4M3L1BR4RY - A list of fantastic games</a>
      </div>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  </div>
  <div class="footer navbar-default navbar" >
    <div style="padding-left: 10px;">
      <a routerLink="/impressum" routerLinkActive="active" class="navbar-text pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i> Impressum</a>
    </div>
  </div>
</div>



