.game-box
{
  height: 12vw;

  background-color: lightgray;
  background-size: cover;

  /* Radius */
  -webkit-border-radius:  0.5vw;
  -moz-border-radius:  0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #e9e9e4;
  /* Box Shadow */
  -webkit-box-shadow: 10px 11px 32px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: 10px 11px 32px -4px rgba(0,0,0,0.54);
  box-shadow: 10px 11px 32px -4px rgba(0,0,0,0.54);
}

.game-box:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.35);
}

.game-row
{
  margin-bottom: 2vh;
}

.game-box-text-box
{
  margin-top: 25%;
  margin-bottom: 25%;
  border-radius: 0.5vw;
  background-color: rgba(255, 255, 255, 0.50);
}

.game-box-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
