<div class="row">
  <app-game-detail [game]="selectedGame" ></app-game-detail>
</div>
<div class="row">
  <div *ngFor="let game of games" class="col-lg-3 col-md-3 col-sm-3" col-xs-3>
    <div class="col-sm-1"></div>
    <div (click)="selectGame(game)" class="col-sm-10 game-box" [style.background-image]="'url(' + game.dashboardPicture?.path + ')'">
      <div class="col-sm-12 game-box-text-box">
        <h5 class="game-box-title">{{ game.name }}</h5>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
