<div class="media-row" *ngIf="game != null" >
    <div class="col-md-1 col-sm-1 col-xs-1 arrow-box arrow-box-left">
        <div *ngIf="game.media?.length > 1" (click)="changePicture('left')" class="arrow">
          <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
      </div>
    </div>

    <div class="col-md-10 col-sm-10 col-xs-10 media-box ">
      <img *ngIf="game.media != null && game.media[currentPicturePosition].includes('JPG')"  [src]="game?.media[currentPicturePosition]" class="img-responsive">
      <div *ngIf="game.media != null && game.media[currentPicturePosition].includes('http')">
        <iframe [src]="game?.media[currentPicturePosition] | safe" frameborder="0" scrolling="no" class="responsive-video"></iframe>
      </div>
      <h3 *ngIf="game.media == null" >No Medias found for game</h3>
    </div>

      <div class="col-md-1 col-sm-1 col-xs-1 arrow-box arrow-box-right">
            <div  *ngIf="game.media?.length > 1" (click)="changePicture('right')" class="arrow">
              <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
            </div>
      </div>
</div>
