.media-row {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: auto;
  overflow: hidden;

  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
  box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
}

.responsive-video {
  width: 100%;
  height: 45vw;
}

/* Overwrite css class */
.img-responsive {
  height: auto;
  display: block;
  margin: auto;
}

.media-box {
  height: 100%;
}

.arrow-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box-left {
  border-right: 1px solid #DCEDC8;
}

.arrow-box-right {
  border-left: 1px solid #DCEDC8;;
}

.arrow-box-left:hover {
  -webkit-box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
  box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
}

.arrow-box-right:hover {
  -webkit-box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
  box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
}




