.media-row {
  position: relative;

  height:auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 2vh;

  -webkit-box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
  box-shadow: 0px 5px 43px -8px rgba(0,0,0,1);
}

/* Overwrite css class */
.img-responsive {
  height: inherit;
  display: block;
  width: auto;
}

.media-box {
  border-right: 3px lightgray groove;
  border-left: 3px lightgray groove ;
  height: 100%;
}

.arrow-box {
  margin-top: 21%;
  position: relative;
}

.arrow {
  position: absolute;
  margin: auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.arrow-right:hover {
  -webkit-box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
  box-shadow: inset 168px -43px 61px -186px rgba(0,0,0,0.75);
}

.arrow-left:hover {
  -webkit-box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
  box-shadow: inset -168px -43px 61px -186px rgba(0,0,0,0.75);
}

/*  */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



