/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");


html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
}
