/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");


html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
}

nav {
  margin-bottom: 0px !important;
}

.navbar-header img {
  float: left;
  width: 50px;
  height: 50px;
}

.navbar-header h1 {
  position: relative;
  margin-top: 50%;
  padding-left: 50px;
}

.footer {
    bottom:0;
    width: 100%;
    margin: 0;
    margin-top:10px; 
}